
:root {
    --primary-color: #000000;
    --secondary-color: #789afc;
    --tertiary-color: #ffffff;
}

header {
    background: var(--primary-color);
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: var(--tertiary-color);
    padding: 20px;
    position : relative;
}

a:hover {
    color: var(--primary-color);
}
a:hover::before {
    content: "";
    position: absolute;
    top: -3px;
    bottom: -3px;
    left: -3px;
    right: -3px;
    border: 2px solid #3498db; 
    background-color: #3498db;
    border-radius: 5px;
    z-index: -1;
  }

h1,
p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "poppins",san-serif;
    font-size: 15px;
}

h1 {
    padding-top: 100px;
}

@keyframes rotateAnimation {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

h1 {
    font-size: 2em;
    text-align: center;
    color: #3498db;
    /* Example text color */
    margin-top: 20px;
    /* Adjust margin based on your design */
    animation: rotateAnimation 5s infinite linear;
}
.ppp{
    font-size: 20px;
    font-family:"poppins",san-serif;
}

